**/bin/
**/obj/
**/out/
**/TestResults/
**/*.user
**/*.suo
**/.vs/
**/.vscode/
**/.idea/
**/node_modules/
**/appsettings.*.local.json
**/*.env
**/.env*

.git/
.gitignore
.gitattributes
.github/
.dockerignore
Dockerfile*
docker-compose*
README.md
tests/
